<div class="container-fluid justify-content-center mt-5 a1">
    <div class="row justify-content-center a2">
      <div class="col-md-3 text-left rounded shadow py-20 a3">
        <h4 class="text-warning">Registration Form</h4><br>
        <form [formGroup]="myForm" (ngSubmit)="OnSubmit()">
          <div formGroupName="userDetails" class="form-group a4" >
            <label for="username">User Name :</label>
            <input type="text" class="form-control mt-1 " formControlName="username" placeholder="Please Enter Your Name">
            <small class="text-danger" *ngIf="myForm.get('userDetails.username').invalid && myForm.get('userDetails.username').touched">User name required </small>
          </div>
          <div formGroupName="userDetails" class="form-group a5">
            <label for="email">E-mail :</label>
            <input type="text" class="form-control mt-1 " formControlName="email" placeholder="Please Enter E-mail Address">
            <small class="text-danger" *ngIf="myForm.get('userDetails.email').invalid && myForm.get('userDetails.email').touched">Please enter a valid email</small>
          </div>
  
          <div class="form-group a6">
            <label for="course">Course :</label>
            <select formControlName="course" class="form-control mt-1 " id="course">
              <option value="Angular">Angular</option>
              <option value="JavaScript">JavaScript</option>
              <option value="TypeScript">TypeScript</option>
            </select>
          </div>
  
          <div class="form-group a7">
            <label>Gender:</label>
            <div *ngFor="let gender of genders" class="form-check form-check-inline a8">
              <input class="custom-control-input mt-1 " type="radio" formControlName="gender" value="{{gender.value}}" id="{{gender.id}}">
              <label class="custom-control-label " for="{{gender.id}}">{{gender.value}}</label>
            </div>
          </div>
  
          <!-- <div class="form-group col-md-6" formArrayName="skills">
            <label>Skills</label>
            <ng-container *ngFor="let skill of myForm.get('skills').controls; index as i">
              <input type="text" class="form-control mb-2" formControlName="{{i}}" placeholder="Add skills">
              <div class="input-group-append">
                <button class="btn btn-danger btn-sm " (click)="OnRemoveSkills(i)">Remove Skill</button>
              </div>
            </ng-container>
            <button class="btn btn-info btn-sm mt-2" (click)="OnAddSkills()">Add Skill</button>
            <button class="btn btn-danger btn-sm mt-2 removebtn" (click)="OnRemoveLastSkill()">Remove Skill</button>   
          </div> -->

          <div class="form-group col-md-auto a9" formArrayName="skills">
            <label> Skills :</label>
            <ng-container *ngFor="let skill of myForm.get('skills').controls; let i = index">
              <div class="input-group a10">
                <input type="text" class="form-control mt-1" formControlName="{{i}}" placeholder="Add skills">
                <div class="input-group-append a11">
                  <button type="button" class="btn btn-danger  removebtn mt-1" (click)="OnRemoveSkills(i)"><strong style="font-size: larger;">-</strong></button>
                </div>
              </div>
            </ng-container>
            <button class="btn btn-warning mt-3 skill" (click)="OnAddSkills()">Add Skill</button>
          </div>
    
          <button type="submit" class="btn btn-success mt-3 col-md-12"><strong>Submit</strong></button>

          <div class="row justify-content-center mt-2 a12" *ngIf="isFormSubmitted">
            <h2 class="text-center">Form Data</h2>
            <p>UserName: <strong>{{myForm.get('userDetails.username').value}}</strong></p>
            <p>Email: <strong>{{myForm.get('userDetails.email').value}}</strong></p>
            <p>Course: <strong>{{myForm.get('course').value}}</strong></p>                  
            <p>Gender: <strong>{{myForm.get('gender').value}}</strong></p>
            <p>Skills: <strong>{{myForm.get('skills').value}}</strong></p>              

          </div>

        </form>
      </div>
    </div>
  </div>