<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
   <!-- <h1>
    Welcome to {{ title }}
  </h1>  -->
 <!-- given reference -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
-->

<!-- <app-ngFor> </app-ngFor> -->
 <!-- <app-demo-data-bind></app-demo-data-bind> -->
<!-- <app-username></app-username>  -->
<!-- <app-new-child [courses]="courses"></app-new-child> -->
<!-- <app-ngif></app-ngif> -->

<!-- <app-simple-form></app-simple-form> -->
<!-- <app-form2></app-form2> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-reactive1></app-reactive1> -->
<!-- <app-reactive2></app-reactive2> -->
<!-- <app-dynamic></app-dynamic> -->

<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2> -->
<!-- <app-age11></app-age11>
<app-age22></app-age22> -->

<!-- <app-netflix-reactive></app-netflix-reactive> -->

<!-- <app-project1></app-project1> -->
<!-- <app-root></app-root> -->
<!-- <app-hook></app-hook>
 -->
 <!-- <app-chat-ui></app-chat-ui> -->
<!-- <router-outlet></router-outlet> -->
<app-p-parent>   </app-p-parent>