
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-6 text-left rounded shadow py-5">   
            <h2 class="row justify-content-center font-weight-bold">Login Form</h2>    
        <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
             <div class="form-group">
                <label for="username">UserName :</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" ngModel placeholder="Enter User Name">
                <!-- <small *ngIf="username">User name is : {{username}}</small> -->
             </div> 
             <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" class="form-control" #email="ngModel" id="email" name="email" ngModel placeholder="Enter E-mail Address" pattern="[a-z.]*[@]\hotmail.com" email required>
                <small class="text-warning" *ngIf="email.touched && !email.valid">Please enter email with '@hotmail' domain only</small>
            </div>  

            <div class="form-group">
                <!-- <label for="course">Course :</label> -->
                <label for="course">Breed :</label>
                <!-- <select class="form-control" name="course" id="course" [ngModel]="defaultCourseValue"> -->
                    <select class="form-control" name="course" id="course" >
                    <!-- <option value="">Select Course</option>    
                    <option value="Angular">Angular</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="TypeScript">TypeScript</option> -->
                    <option value="">Select Breed</option>    
                    <option value="Golden Retriever">Golden Retriever</option>
                    <option value="German Shephard">German Shephard</option>
                    <option value="Rottweiler">Rottweiler</option> 
                </select>
             </div>
             <div ngModelGroup="address"> 
                <div class="form-group">
                  <label for="country">Country :</label>
                  <input placeholder="Enter Country" class="form-control" type="text" ngModel name="country" required>
                </div>    
                <div class="form-group">
                  <label for="state">State :</label>
                  <input placeholder="Enter State" class="form-control" type="text" ngModel name="state" required>
                </div> 
              </div>

              <div class="form-group">
                <label for="gender" class="mt-2">Gender:</label>
                <div *ngFor="let gender of genders" class="form-check form-check-inline">
                  <input class="custom-control-input" type="radio" name="gender" id="{{gender.id}}" value="{{gender.value}}" ngModel>
                  <label class="custom-control-label" for="{{gender.id}}">{{gender.value}}</label>
                 </div>
                </div>

             <button type="submit" [disabled]="!myForm.valid" class="btn btn-success mt-4 ">Submit</button>

             <div class="row justify-content-center mt-2" *ngIf="isFormSubmitted">
              <h2 class="text-center">Form Data</h2>
              <p>UserName: <strong>{{formData.username}}</strong></p>
              <p>Email: <strong>{{formData.email}}</strong></p>
              <p>Course: <strong>{{formData.course}}</strong></p>
              <p>Country: <strong>{{formData.country}}</strong></p>
              <p>State: <strong>{{formData.state}}</strong></p>
              <p>Gender: <strong>{{formData.gender}}</strong></p>
        
        
        
            </div>

        </form>
    </div>
    </div>
</div>

