<p>ngif works!</p>
<!-- <p *ngIf="permission">
Display Data when permission is granted.
</p> -->
<!-- <div *ngIf="permission">
    Display Data when permission is granted.
</div> -->
<div *ngIf="permission; else elseBlock">
    Display Data when permission is granted.
</div>

<!-- <ng-template #elseBlock>
    Permission Declined.(else using ng-template)
</ng-template>

<button (click)="show=!show">
    {{show ? 'hide': 'show'}}
</button> -->
<!-- lorem tab -->
<p> Lorem ipsum dolor sit amet consectetur a</p>
<!-- Lorem5 tab-->
<P> Lorem ipsum dolor sit amet. </P>