

h2{
    padding-top: 15px;
    padding-bottom: 10px;
    color:white;
}



.container{
    height:400px;
    width: 500px;
    background-image: url('https://images.pexels.com/photos/11012826/pexels-photo-11012826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-color: bisque; */
    border-radius: 15px;
    background-size: cover;
}

p{
    margin: 0px;
    color: rgb(8, 8, 10);
    
}
label{
    color:rgb(239, 176, 16)
}

.years, .months, .days{
    margin-left: 50px;
    padding-bottom: 20px;
    margin-top: 10px;
}

input{
    border-style: solid;
    border-color: rgb(21, 21, 19);
    background-color: rgba(255, 255, 255, 0.2); 
}
.cal{
    background-color:rgb(23, 170, 4,0.3);
    color: white;
}
.clr{
    background-color:rgb(200, 75, 13, 0.3);
    color: white;
}
.d2{
    padding-bottom: 20px;
}
.result{
    background-color:rgba(255,255, 255, 0.3) ;
}